<template name="layout">
	<header>
        {{> nav }}
    </header>

    <article>
        {{> yield}}
    </article>

</template>


<template name='nav'>
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container-fluid">

	  		<!-- When colapse -->
	    	<div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span> 
		      	</button>

		      	<a class="navbar-brand" href="{{ pathFor 'home' }}">SeeKattle</a>
	    	</div>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      	<ul class="nav navbar-nav">
		        	<li class="{{activeIfTemplateIs 'About'}}"><a href="{{ pathFor 'about'}}">About</a></li>
		      	</ul>

		      	<ul class="nav navbar-nav navbar-right">
		      		{{ #if currentUser}}
			        	<li class="{{activeIfTemplateIs 'Myaccount'}}">
			        		<a href="{{ pathFor 'myaccount' }}">
			        			<span class="glyphicon glyphicon-user"></span> 
			        			Minha conta
			        		</a>
			        	</li>
			        {{ /if }}

		      		{{#if currentUser}}
			        	<li class="{{activeIfTemplateIs 'Logout'}}">
			        		<a href="{{ pathFor 'logout' }}">
			        			<span class="glyphicon glyphicon-log-out"></span> 
			        			Sair
			        		</a>
			        	</li>
		        	{{ else }}
			        	<li class="{{activeIfTemplateIs 'Login'}}">
			        		<a href="{{ pathFor 'login' }}">
			        			<span class="glyphicon glyphicon-log-in"></span> 
			        			Entrar
			        		</a>
			        	</li>
		        	{{/if}}
		      	</ul>

		    </div>
		</div>
	</nav>
</template>
