.container .text-muted {
  margin: 20px 0;
  color: #4c527e;
}

/* ************ */


.intro-section {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #eee;
}

.contacts-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.home-footer-section{
  text-align: center;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #cacfd9;
}


.sk-logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}